{
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier", "plugin:import/recommended"],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "ecmaVersion": 2018,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "debug"] }],
    "func-names": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "security/detect-object-injection": "off",
    "dot-notation": "off",
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
      "plugins": ["@typescript-eslint", "prettier"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "project": ["./tsconfig.json"],
      },
      "rules": {
        "no-console": "error",
        "func-names": "off",
        "no-underscore-dangle": "off",
        "consistent-return": "off",
        "import/prefer-default-export": "off",
      },
    },
  ],
}
